@import './node_modules/bootstrap/scss/bootstrap.scss';

* {
    font-family: 'PT Sans', sans-serif;
}


body {
    background: #f1f1f1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



.recipe {
    display: flex;
    flex: 1;
    
    &__container {
        max-width: 800px;
        @include make-container();
        background: white;
        min-height: 100vh;
        
    }
    &__header {
        font-family: 'Kaushan Script', cursive;
        font-size: 4em;
        font-weight: bolder;

    }
    
    &__item {
       
        a {
            padding: 1em;
            display: flex;
            flex-direction: row;
            border: 1px solid #dddddd;
            border-radius: .5em;
            background: #fbfbfb;
            &:hover {
                text-decoration: none;
            }
        }
        &--link {}
        &--img {
            border-radius: .5em;
        
        }
        &--title{
            font-family: 'Anton', sans-serif;
            color:black;
            font-size: 1.7em
        }
        &--ingredient{
            font-family: 'PT Sans', sans-serif;
            font-size: .9em;
            color: #999999;

        }
    }
}






