@import './node_modules/bootstrap/scss/bootstrap.scss';

* {
    font-family: 'PT Sans', sans-serif;
}


body {
    background: #f1f1f1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



.recipe {
    display: flex;
    flex: 1;

    &__container {
        max-width: 800px;
        @include make-container();
        background: white;
        min-height: 100vh;

    }

    &__header {
        color: #333;
        font-family: 'Kaushan Script', cursive;
        font-size: 2em;
        font-weight: bolder;

        &:hover {
            text-decoration: none;
        }

        h1 {
            color: #333;
            font-family: 'Kaushan Script', cursive;
            font-size: 2em;
            font-weight: bolder;

        }
    }

    &__item {


        padding: 1em;
        display: flex;
        flex-direction: row;
        border: 1px solid #dddddd;
        border-radius: .5em;
        background: #fbfbfb;

        &:hover {
            text-decoration: none;
        }


        &--link {}

        &--img {
            border-radius: .5em;

        }

        &__link {
            &:hover {
                text-decoration: none;
            }
            &--title {
                font-family: 'Anton', sans-serif;
                color: black;
                font-size: 1.7em;
                &:hover {
                    text-decoration: none;
                }
            }
    
            &--ingredient {
                font-family: 'PT Sans', sans-serif;
                font-size: .9em;
                color: #999999;
                &:hover {
                    text-decoration: none;
                }
    
            }
        }

        &--star {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 1.5em;
            cursor: pointer;
            color: rgb(193, 45, 45);
        }

        &--star-fill {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 1.5em;
            cursor: pointer;
            color:#dddddd;
        }
    }
}